header {
    border-bottom: 1px solid #cecece;
}

.blog-logo {
    font-family: Impact, sans-serif;
    font-size: 2.5rem;
    /* 1 em = M */
}

.jumbotron {
    background-image: linear-gradient(
            to right bottom, 
            rgba(94, 207, 109, 0.589), 
            rgba(98, 127, 224, 0.596)), 
        url(../img/bg-jumbotron.jpg);
    background-size: cover;
    background-position: center;
}
